.rooms-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .time {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .room {
        position: absolute;
        margin-top: 30px;
        padding: 2px 5px;
        font-size: 8px;
        font-weight: 900;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        background-color: rgba(235, 235, 235, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.5);
        transform: translate(-50%, -50%);
    }
}

.danger-text {
    color: rgb(200, 0, 0);

    // -webkit-text-stroke: 1px rgb(200, 0, 0);
}
